In [2]:
#Load the file IMDB-Movie-Data.csv in pandas and make title as index column
import pandas as pd

In [3]:
data = pd.read_csv("IMDB-Movie-Data.csv" , index_col="Title")

In [4]:
#Display 5 most repeated values in Director Column
data['Director'].value_counts()

Ridley Scott          8
David Yates           6
M. Night Shyamalan    6
Paul W.S. Anderson    6
Michael Bay           6
                     ..
Lee Toland Krieger    1
Gillies MacKinnon     1
Peter Atencio         1
James Mangold         1
Scot Armstrong        1
Name: Director, Length: 644, dtype: int64

In [6]:
#Filter all movies from Passengers to Gold using value (loc)
prom = data.loc[["Passengers","Gold"]]
prom

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Passengers,10,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0
Gold,21,"Adventure,Drama,Thriller","Kenny Wells, a prospector desperate for a luck...",Stephen Gaghan,"Matthew McConaughey, Edgar Ramírez, Bryce Dall...",2016,120,6.7,19053,7.22,49.0

In [7]:
#Filter all movies from Passengers to Gold using position (iloc)
prom = data.iloc[[10,21]]
prom

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Fantastic Beasts and Where to Find Them,11,"Adventure,Family,Fantasy",The adventures of writer Newt Scamander in New...,David Yates,"Eddie Redmayne, Katherine Waterston, Alison Su...",2016,133,7.5,232072,234.02,66.0
Manchester by the Sea,22,Drama,A depressed uncle is asked to take care of his...,Kenneth Lonergan,"Casey Affleck, Michelle Williams, Kyle Chandle...",2016,137,7.9,134213,47.70,96.0

In [14]:
#List all movies from year 2012
condition = data[(data['Year'] == 2012)]
condition

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
The Avengers,77,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
The Place Beyond the Pines,136,"Crime,Drama,Thriller",A motorcycle stunt rider turns to robbing bank...,Derek Cianfrance,"Ryan Gosling, Bradley Cooper, Eva Mendes,Craig...",2012,140,7.3,200090,21.38,68.0
Django Unchained,145,"Drama,Western","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012,165,8.4,1039115,162.80,81.0
...,...,...,...,...,...,...,...,...,...,...,...
The Expendables 2,917,"Action,Adventure,Thriller",Mr. Church reunites the Expendables for what s...,Simon West,"Sylvester Stallone, Liam Hemsworth, Randy Cout...",2012,103,6.6,257395,85.02,51.0
The Master,930,Drama,A Naval veteran arrives home from war unsettle...,Paul Thomas Anderson,"Philip Seymour Hoffman, Joaquin Phoenix,Amy Ad...",2012,144,7.1,112902,16.38,NaN
End of Watch,958,"Crime,Drama,Thriller","Shot documentary-style, this film follows the ...",David Ayer,"Jake Gyllenhaal, Michael Peña, Anna Kendrick, ...",2012,109,7.7,192190,40.98,68.0
Rock of Ages,973,"Comedy,Drama,Musical",A small town girl and a city boy meet on the S...,Adam Shankman,"Julianne Hough, Diego Boneta, Tom Cruise, Alec...",2012,123,5.9,64513,38.51,47.0
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0

In [13]:
#List all movies having runtime of 120 and above
condition =data[(data['Runtime (Minutes)'] >= 120)]
condition

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
The Lost City of Z,9,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
...,...,...,...,...,...,...,...,...,...,...,...
Queen of Katwe,975,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
The Skin I Live In,980,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
Across the Universe,983,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
Selma,990,"Biography,Drama,History",A chronicle of Martin Luther King's campaign t...,Ava DuVernay,"David Oyelowo, Carmen Ejogo, Tim Roth, Lorrain...",2014,128,7.5,67637,52.07,NaN
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0

In [12]:
#List all movies having rating above 6
condition = data[(data['Rating'] > 6)]
condition

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...
Taare Zameen Par,992,"Drama,Family,Music",An eight-year-old boy is thought to be a lazy ...,Aamir Khan,"Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...",2007,165,8.5,102697,1.20,42.0
Take Me Home Tonight,993,"Comedy,Drama,Romance","Four years after graduation, an awkward high s...",Michael Dowse,"Topher Grace, Anna Faris, Dan Fogler, Teresa P...",2011,97,6.3,45419,6.92,NaN
Project X,995,Comedy,3 high school seniors throw a birthday party t...,Nima Nourizadeh,"Thomas Mann, Oliver Cooper, Jonathan Daniel Br...",2012,88,6.7,164088,54.72,48.0
Secret in Their Eyes,996,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
Step Up 2: The Streets,998,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0

In [11]:
#List all movies having metascore above 50
data[data['Metascore'] > 50]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Guardians of the Galaxy,1,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
Split,3,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
Sing,4,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
La La Land,7,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
...,...,...,...,...,...,...,...,...,...,...,...
Scream 4,974,"Horror,Mystery","Ten years have passed, and Sidney Prescott, wh...",Wes Craven,"Neve Campbell, Courteney Cox, David Arquette, ...",2011,111,6.2,108544,38.18,52.0
Queen of Katwe,975,"Biography,Drama,Sport",A Ugandan girl sees her world rapidly change a...,Mira Nair,"Madina Nalwanga, David Oyelowo, Lupita Nyong'o...",2016,124,7.4,6753,8.81,73.0
The Skin I Live In,980,"Drama,Thriller","A brilliant plastic surgeon, haunted by past t...",Pedro Almodóvar,"Antonio Banderas, Elena Anaya, Jan Cornet,Mari...",2011,120,7.6,108772,3.19,70.0
Across the Universe,983,"Drama,Fantasy,Musical",The music of the Beatles and the Vietnam War f...,Julie Taymor,"Evan Rachel Wood, Jim Sturgess, Joe Anderson, ...",2007,133,7.4,95172,24.34,56.0
Martyrs,989,Horror,A young woman's quest for revenge against the ...,Pascal Laugier,"Morjana Alaoui, Mylène Jampanoï, Catherine Bég...",2008,99,7.1,63785,NaN,89.0

In [ ]:
#List all movies having metascore above 60 and ratings above 6 and year 2016
data[
((data['Metascore'] > 50))
& (data['Rating'] > 6) 
& (data['Year'] == 2012)]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Prometheus,2,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
The Avengers,77,"Action,Sci-Fi",Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr., Chris Evans, Scarlett Johan...",2012,143,8.1,1045588,623.28,69.0
The Dark Knight Rises,125,"Action,Thriller",Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale, Tom Hardy, Anne Hathaway,Gary ...",2012,164,8.5,1222645,448.13,78.0
The Place Beyond the Pines,136,"Crime,Drama,Thriller",A motorcycle stunt rider turns to robbing bank...,Derek Cianfrance,"Ryan Gosling, Bradley Cooper, Eva Mendes,Craig...",2012,140,7.3,200090,21.38,68.0
Django Unchained,145,"Drama,Western","With the help of a German bounty hunter , a fr...",Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012,165,8.4,1039115,162.80,81.0
The Hunger Games,152,"Adventure,Sci-Fi,Thriller",Katniss Everdeen voluntarily takes her younger...,Gary Ross,"Jennifer Lawrence, Josh Hutcherson, Liam Hemsw...",2012,142,7.2,735604,408.00,68.0
The Perks of Being a Wallflower,236,"Drama,Romance",An introvert freshman is taken under the wings...,Stephen Chbosky,"Logan Lerman, Emma Watson, Ezra Miller, Paul Rudd",2012,102,8.0,377336,17.74,67.0
Les Misérables,246,"Drama,Musical,Romance","In 19th-century France, Jean Valjean, who for ...",Tom Hooper,"Hugh Jackman, Russell Crowe, Anne Hathaway,Ama...",2012,158,7.6,257426,148.78,63.0
Cloud Atlas,268,"Drama,Sci-Fi",An exploration of how the actions of individua...,Tom Tykwer,"Tom Hanks, Halle Berry, Hugh Grant, Hugo Weaving",2012,172,7.5,298651,27.10,55.0
Skyfall,271,"Action,Adventure,Thriller",Bond's loyalty to M is tested when her past co...,Sam Mendes,"Daniel Craig, Javier Bardem, Naomie Harris, Ju...",2012,143,7.8,547386,304.36,81.0
The Hobbit: An Unexpected Journey,272,"Adventure,Fantasy","A reluctant hobbit, Bilbo Baggins, sets out to...",Peter Jackson,"Martin Freeman, Ian McKellen, Richard Armitage...",2012,169,7.9,668651,303.00,58.0
21 Jump Street,273,"Action,Comedy,Crime",A pair of underachieving cops are sent back to...,Phil Lord,"Jonah Hill, Channing Tatum, Ice Cube,Brie Larson",2012,110,7.2,432046,138.45,69.0
Pitch Perfect,292,"Comedy,Music,Romance","Beca, a freshman at Barden University, is cajo...",Jason Moore,"Anna Kendrick, Brittany Snow, Rebel Wilson, An...",2012,112,7.2,226631,65.00,66.0
The Cabin in the Woods,303,Horror,"Five friends go for a break at a remote cabin,...",Drew Goddard,"Kristen Connolly, Chris Hemsworth, Anna Hutchi...",2012,95,7.0,295554,42.04,72.0
Lincoln,334,"Biography,Drama,History","As the War continues to rage, America's presid...",Steven Spielberg,"Daniel Day-Lewis, Sally Field, David Strathair...",2012,150,7.4,207497,182.20,86.0
Silver Linings Playbook,337,"Comedy,Drama,Romance","After a stint in a mental institution, former ...",David O. Russell,"Bradley Cooper, Jennifer Lawrence, Robert De N...",2012,122,7.8,564364,132.09,81.0
Looper,342,"Action,Crime,Drama","In 2074, when the mob wants to get rid of some...",Rian Johnson,"Joseph Gordon-Levitt, Bruce Willis, Emily Blun...",2012,119,7.4,452369,66.47,84.0
The Amazing Spider-Man,369,"Action,Adventure",After Peter Parker is bitten by a genetically ...,Marc Webb,"Andrew Garfield, Emma Stone, Rhys Ifans, Irrfa...",2012,136,7.0,474320,262.03,66.0
John Carter,390,"Action,Adventure,Sci-Fi","Transported to Barsoom, a Civil War vet discov...",Andrew Stanton,"Taylor Kitsch, Lynn Collins, Willem Dafoe,Sama...",2012,132,6.6,220667,73.06,51.0
Magic Mike,400,"Comedy,Drama",A male stripper teaches a younger performer ho...,Steven Soderbergh,"Channing Tatum, Alex Pettyfer, Olivia Munn,Mat...",2012,110,6.1,113686,113.71,72.0
Zero Dark Thirty,407,"Drama,History,Thriller",A chronicle of the decade-long hunt for al-Qae...,Kathryn Bigelow,"Jessica Chastain, Joel Edgerton, Chris Pratt, ...",2012,157,7.4,226661,95.72,95.0
The imposible,438,"Drama,Thriller",The story of a tourist family in Thailand caug...,J.A. Bayona,"Naomi Watts, Ewan McGregor, Tom Holland, Oakle...",2012,114,7.6,156189,19.00,73.0
Dredd,447,"Action,Sci-Fi","In a violent, futuristic city where the police...",Pete Travis,"Karl Urban, Olivia Thirlby, Lena Headey, Rache...",2012,95,7.1,213764,13.40,59.0
Jagten,456,Drama,"A teacher lives a lonely life, all the while s...",Thomas Vinterberg,"Mads Mikkelsen, Thomas Bo Larsen, Annika Wedde...",2012,115,8.3,192263,0.61,76.0
Argo,475,"Biography,Drama,History",Acting under the cover of a Hollywood producer...,Ben Affleck,"Ben Affleck, Bryan Cranston, John Goodman, Ala...",2012,120,7.7,481274,136.02,86.0
Moonrise Kingdom,486,"Adventure,Comedy,Drama",A pair of young lovers flee their New England ...,Wes Anderson,"Jared Gilman, Kara Hayward, Bruce Willis, Bill...",2012,94,7.8,254446,45.51,84.0
Men in Black 3,497,"Action,Adventure,Comedy",Agent J travels in time to M.I.B.'s early days...,Barry Sonnenfeld,"Will Smith, Tommy Lee Jones, Josh Brolin,Jemai...",2012,106,6.8,278379,179.02,58.0
Savages,507,"Crime,Drama,Thriller",Pot growers Ben and Chon face off against the ...,Oliver Stone,"Aaron Taylor-Johnson, Taylor Kitsch, Blake Liv...",2012,131,6.5,107960,47.31,59.0
The Bourne Legacy,530,"Action,Adventure,Mystery",An expansion of the universe from Robert Ludlu...,Tony Gilroy,"Jeremy Renner, Rachel Weisz, Edward Norton, Sc...",2012,135,6.7,245374,113.17,61.0
Sinister,563,"Horror,Mystery",Washed-up true-crime writer Ellison Oswalt fin...,Scott Derrickson,"Ethan Hawke, Juliet Rylance, James Ransone,Fre...",2012,110,6.8,171169,48.06,53.0
Wreck-It Ralph,564,"Animation,Adventure,Comedy",A video game villain wants to be a hero and se...,Rich Moore,"John C. Reilly, Jack McBrayer, Jane Lynch, Sar...",2012,101,7.8,290559,189.41,72.0
Snow White and the Huntsman,565,"Action,Adventure,Drama","In a twist to the fairy tale, the Huntsman ord...",Rupert Sanders,"Kristen Stewart, Chris Hemsworth, Charlize The...",2012,127,6.1,239772,155.11,57.0
Brave,590,"Animation,Adventure,Comedy","Determined to make her own path in life, Princ...",Mark Andrews,"Kelly Macdonald,Billy Connolly, Emma Thompson,...",2012,93,7.2,293941,237.28,69.0
Lawless,638,"Crime,Drama","Set in Depression-era Franklin County, Virgini...",John Hillcoat,"Tom Hardy, Shia LaBeouf, Guy Pearce, Jason Clarke",2012,116,7.3,195360,37.40,58.0
The First Time,662,"Comedy,Drama,Romance",A shy senior and a down-to-earth junior fall i...,Jon Kasdan,"Dylan O'Brien, Britt Robertson, Victoria Justi...",2012,95,6.9,54027,0.02,55.0
Anna Karenina,666,"Drama,Romance","In late-19th-century Russian high society, St....",Joe Wright,"Keira Knightley, Jude Law, Aaron Taylor-Johnso...",2012,129,6.6,75291,12.80,63.0
Life of Pi,695,"Adventure,Drama,Fantasy",A young man who survives a disaster at sea is ...,Ang Lee,"Suraj Sharma, Irrfan Khan, Adil Hussain, Tabu",2012,127,7.9,471109,124.98,79.0
Ted,702,"Comedy,Fantasy","John Bennett, a man whose childhood wish of br...",Seth MacFarlane,"Mark Wahlberg, Mila Kunis, Seth MacFarlane, Jo...",2012,106,7.0,494641,218.63,62.0
Dark Shadows,726,"Comedy,Fantasy,Horror","An imprisoned vampire, Barnabas Collins, is se...",Tim Burton,"Johnny Depp, Michelle Pfeiffer, Eva Green, Hel...",2012,113,6.2,209326,79.71,55.0
Seven Psychopaths,802,"Comedy,Crime",A struggling screenwriter inadvertently become...,Martin McDonagh,"Colin Farrell, Woody Harrelson, Sam Rockwell,C...",2012,110,7.2,196652,14.99,66.0
To Rome with Love,814,"Comedy,Romance",The lives of some visitors and residents of Ro...,Woody Allen,"Woody Allen, Penélope Cruz, Jesse Eisenberg, E...",2012,112,6.3,72050,16.68,54.0
Diary of a Wimpy Kid: Dog Days,832,"Comedy,Family","School's out. Summer vacation is on. However, ...",David Bowers,"Zachary Gordon, Robert Capron, Devon Bostick,S...",2012,94,6.4,16917,49.00,54.0
The Dictator,835,Comedy,The heroic story of a dictator who risked his ...,Larry Charles,"Sacha Baron Cohen, Anna Faris, John C. Reilly,...",2012,83,6.4,225394,59.62,58.0
Flight,846,"Drama,Thriller",An airline pilot saves almost all his passenge...,Robert Zemeckis,"Denzel Washington, Nadine Velazquez, Don Chead...",2012,138,7.3,276347,93.75,76.0
The Expendables 2,917,"Action,Adventure,Thriller",Mr. Church reunites the Expendables for what s...,Simon West,"Sylvester Stallone, Liam Hemsworth, Randy Cout...",2012,103,6.6,257395,85.02,51.0
End of Watch,958,"Crime,Drama,Thriller","Shot documentary-style, this film follows the ...",David Ayer,"Jake Gyllenhaal, Michael Peña, Anna Kendrick, ...",2012,109,7.7,192190,40.98,68.0

In [16]:
#List all movies directed by David Ayer or Adam Mckay and having ratings above 6
data[
    ((data['Director'] == "David Ayer") | (data['Director'] == "Adam Micky"))
& (data['Rating'] > 6)]

,Rank,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Title,,,,,,,,,,,
Suicide Squad,5,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
Fury,241,"Action,Drama,War",A grizzled tank commander makes tough decision...,David Ayer,"Brad Pitt, Shia LaBeouf, Logan Lerman, Michael...",2014,134,7.6,332234,85.71,64.0
End of Watch,958,"Crime,Drama,Thriller","Shot documentary-style, this film follows the ...",David Ayer,"Jake Gyllenhaal, Michael Peña, Anna Kendrick, ...",2012,109,7.7,192190,40.98,68.0

In [24]:
#List the movie which has highest rating in 2016 (Hint: solve in two steps, first filter the data of 2016
#and save in another variable and then filter the highest rating from that)
condition = data[(data['Year'] == 2016)]
condition = condition['Rating']
condition.max()

8.8

In [25]:
#List the movie which has highest metascore in 2016 (Hint: solve in two steps, first filter the data of
#2016 and save in another variable and then filter the highest metascore from that)
condition = data[(data['Year'] == 2016)]
condition = condition['Metascore']
condition.max()

99.0

In [26]:
#List the movie which has highest revenue in 2016 (Hint: solve in two steps, first filter the data of
#2016 and save in another variable and then filter the highest revenue from that)
condition = data[(data['Year'] == 2016)]
condition = condition['Revenue (Millions)']
condition.max()

532.17